* {
    margin: 0;
    padding: 0;
}
.bg {
    background-image: url(img/img1.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.Header {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}
.qt_date {
    float: right;
    display: block;
    padding: 15px;
}
.card__container {
    display: flex;
    flex-direction: row;

    margin-bottom: 40px;
    justify-content: center;
}
.card_one {
    margin-right: 100px;
    border-top: 2px solid green;
}
.qt_date {
    margin-left: 20px;
    text-align: left;
}

.tb3 {
    border: 1px solid lightgray;
}
.thank {
    float: left;
    align-items: left;
    text-align: left;
}

div[contenteditable="true"] {
    font-family: sans-serif;

    min-height: 60px;
    border: 1px solid lightgray;
    padding: 5px;
}
